
body {
overflow:hidden;
}

body::-webkit-scrollbar { 
    display: none; 
}

#content {
width: 5000px;
cursor:default;
}

#all-the-texts {
width:auto;
height:auto;
text-align: justify;
margin: 1% 1% 1% 1%;
}

 p {
text-align: justify; 
}

.txt-msg {
margin: 0 auto 0 auto;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
height: 1em;
padding: 0 0 0 0;
margin: 0.2em 0 0.2em 0.2em;
}
